/* ========= */
/*   Light   */
/* ========= */

.theme-light {
    
    /* Background */
    --nav-background: #fdfaf2;
    --home-background: #F7F3E9;

    /* --skills-background: #fdfaf2; */
    /* --projects-background: #F7F3E9; */
    /* --contact-background: #fdfaf2; */

    --projects-background: #fdfaf2;
    --contact-background: #F7F3E9;
    --footer-background: #fdfaf2;

    /* Title */
    --title: #0D0D0D;
    --paragraph: #949898;

    /* Button */
    --button-primary: #27DEBF;

    /* Link */
    --link-primary: #949898;

    /* Formuçário */
    /* temp */
    --form-border: #27DEBF;
    --form-border-focus: #06807d;
    --form-text: #949898;


    --project-tecnologic: #0FC2C0;

    --color-primary: #0FC2C0;
    --light: #105549;
}

/* ======== */
/*   Dark   */
/* ======== */

.theme-dark {

    /* Background */
    --nav-background: #0b0b0b;
    --home-background: #0D0D0D;

    /* --skills-background: #0b0b0b; */
    /* --projects-background: #0D0D0D; */
    /* --contact-background: #0b0b0b; */

    --projects-background: #0b0b0b;
    --contact-background: #0D0D0D;
    --footer-background: #0b0b0b;

    /* Title */
    --title: #EBEFF2;
    --paragraph: #EDD0EB;

    /* Button */
    --button-primary: #27DEBF;

    /* Link */
    --link-primary: #949898;

    /* Formuçário */
    /* temp */
    --form-border: #27DEBF;
    --form-border-focus: #06807d;
    --form-text: #949898;

    --project-tecnologic: #0FC2C0;

    --color-primary: #0FC2C0;
    --light: #fff;
}